@model IEnumerable<Reparation>

@if (Model != null && Model.Any())
{
    <h2>Reparations</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Date de réparation</th>
                <th>Type d'intervention</th>
                <th>Coût de réparation</th>
                <th>Finition</th>
                <th>Actions</th>
                <th>Reparations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reparation in Model)
            {
                <tr>
                    <td>
                        @reparation.DateReparation
                    </td>
                    <td>
                        @reparation.TypeIntervention
                    </td>
                    <td>
                        @reparation.CoutReparation
                    </td>
                    <td>
                        @if (reparation.Voiture != null)
                        {
                            @reparation.Voiture.Finition
                        }
                    </td>
                    <td>
                        <!-- Actions -->
                    </td>
                    <td>
                        @reparation.Reparations
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Aucune réparation disponible.</p>
}
