@model Voiture

@{
    ViewData["Title"] = "Voiture et Réparations";
}

<h1>Voiture et Réparations</h1>

<div>
    <h4>Informations sur la voiture :</h4>
    <dl class="row">
        <dt class="col-sm-2">Marque :</dt>
        <dd class="col-sm-10">@Model.Marque</dd>

        <dt class="col-sm-2">Modèle :</dt>
        <dd class="col-sm-10">@Model.Modele</dd>

        <dt class="col-sm-2">Année :</dt>
        <dd class="col-sm-10">@Model.Annee</dd>

        <dt class="col-sm-2">Finition :</dt>
        <dd class="col-sm-10">@Model.Finition</dd>

        <!-- Ajoutez ici les autres propriétés de la voiture à afficher -->
    </dl>
</div>

<div>
    <h4>Réparations :</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Date de réparation</th>
                <th>Type d'intervention</th>
                <th>Coût de réparation</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reparation in Model.ReparationVoiture)
            {
                <tr>
                    <td>@reparation.DateReparation</td>
                    <td>@reparation.TypeIntervention</td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>@reparation.CoutReparation</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
